Support wider range of time formats for `--from` and `--to` args

## Context

Currently we only have support for the following formats:

- 2024-01-06
- 2006-01-06T15:04:05
- 2006-01-06T15:04:05.000
- 2006-01-06T15:04:05Z07:00

We should extend this to include:

- 2006-01-02T15:04:05.999999999Z07:00 (RFC3339Nano)
- 2006-01-02T15:04:05Z07:00 (RFC3339)
- Mon, 02 Jan 2006 15:04:05 -0700 (RFC1123Z)
- Mon, 02 Jan 2006 15:04:05 MST (RFC1123)
- Monday, 02-Jan-06 15:04:05 MST (RFC850)
- 02 Jan 06 15:04 -0700 (RFC822Z)
- 02 Jan 06 15:04 MST (RFC822)
- Mon Jan _2 15:04:05 MST 2006 (UnixDate)
- Mon Jan 02 15:04:05 -0700 2006 (RubyDate)
- Mon Jan _2 15:04:05 2006 (ANSIC)
- 02/Jan/2006:15:04:05 -0700 (WebLog Combined Format)
- 02/Jan/2006:15:04:05 MST (WebLog Combined Format)
- 2006-01-02 15:04:05
- 2006-01-02 15:04:05 -0700
- 2006-01-02 15:04:05 MST
- 2006/01/02 15:04:05
- 2006/01/02 15:04:05 -0700
- 2006/01/02 15:04:05 MST
- 2006-01-02
- 2006-01-02T15:04:05 (ISO8601)
- 2006-01-02T15:04:05.000 (ISO8601)



Completed via go-kit upgrade in https://github.com/turbot/tailpipe/commit/bc2edbc43c7a40b4f0fe0a0d47bd8f229dd27507#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6